@model IEnumerable<InfomedTest.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
}

<h2>רופאים</h2>


<style>
    .star-rating::before {
        content: "⭐⭐⭐⭐⭐";
    }

    .star-rating {
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0.1);
    }

    .rate {
        color: blue;
    }
</style>

<table id="tbl" class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div>
                        <span>ד"ר</span> @Html.DisplayFor(modelItem => item.FullName)
                    </div>
                    <div class="star-rating"
                         style="background-image: linear-gradient(
      to left,
      blue 0%,
      blue  @(item.Rating*20)%,
      transparent 33.333%,
      transparent 100%);
  "> <span class="rate">(@item.Rating.0) </span></div>

</td>
<td>
</td>
<td>
    <p>
        נותן שירות בשפה:  <span class="langauges">

            @{ var lastPerson = @item.Languages.LastOrDefault(); }
            @for (int i = 0; i < @item.Languages.Count; i++)
            {
                @(item.Languages[i]!= lastPerson?$"{item.Languages[i]}, ": item.Languages[i])

            }
        </span>
    </p>
    <span>לרופא יש כתבה משוייכת:  </span> <span class="isArticle">  @item.isArticle</span>
</td>
<td>
    <p> <input type="button" value=@Html.DisplayFor(modelItem => item.PhoneNumber) /></p>

    <p> <input name="@item.ID" type="button" class="btnCreateContact" value="צור קשר" /></p>
</td>

</tr>
}
    </tbody>
</table>

<div id="contactForm">
    <form action="javascript:;" id="frm" onsubmit="insert_value()">

        <div class="form-group">
            <div class="first_row_form">
                <input type="text" class="form-control" id="fname" name="Name" placeholder="שם" tabindex="1" pattern="[A-Za-z\u0590-\u05FF]*" title="Name should only contain letters" required>
            </div>
        </div>
        <div class="form-group">
            <input type="tel" maxlength="15" class="form-control" id="Tel" name="Tel" placeholder="Tel" tabindex="4" pattern="^[0-9]*$" title="Phone should only contain numbers and 15 to max" required>
        </div>


        <div class="form-group">
            <div class="first_row_form">
                <div class="text-center">
                    <button id="submitBtn" type="submit" class="btn btn-start-order">SUBMIT </button>
                </div>
            </div>
        </div>



    </form>
</div>

@section scripts{
    <script>
        $.fn.stars = function () {
            return $(this).each(function () {
                var val = parseFloat($(this).html());
                var size = Math.max(0, (Math.min(5, val))) * 16;
                var $span = $('<span />').width(size);
                $(this).html($span);
            });
        }
        $(document).ready(function () {
            $("#tbl").dataTable();
            $(function () {
                $('span.stars').stars();
            });
            $(".isArticle").each(function () {
                var value = $(this).html();
                if (value == '  False') {
                    $(this).html("לא")
                }
                else {
                    $(this).html("כן")
                }
            });
           
            $("#contactForm").dialog({
                autoOpen: false, modal: true, show: "blind", hide: "blind"
            });
            $(".btnCreateContact").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                var DrId = $(this).attr('name');
                $("#hdn").val(DrId);
                $("#frm")[0].reset()
                $('#sendSuccess').html("");
                $("#contactForm").dialog("open");

            });

            $('#btnSave').on("click", function () {
                $('#frm').validate();
                var form = $("#frm");

                $.ajax({
                    url: '/Home/SaveContact',
                    data: form.serialize(),
                    type: 'POST',
                    success: function (data) {
                        $('#sendSuccess').html("פרטייך נשלחו בהצלחה");

                    }
                });
            });
        });
    </script>

}